# Revisión de dataset con columnas únicas

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('latimUniqueCols.csv')

In [3]:
data.head()

,region,extended_country,pais_acronimo,anio,ronda,var_description,var_type,var_category,var_subcategory,cobertura_geografica,age_range,gender,geographical_zone,educational_level,firm_size,labor_income_quintile,total_income_quintile,non_average,valor
0,ALC,Argentina,ARG,1992,m10,Employed workers in administrative occupations...,"levels, #",Employment,Occupational group,15 Aglomerados urbanos,15 to 24 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,102321.0
1,ALC,Argentina,ARG,1992,m10,Employed workers in administrative occupations...,"levels, #",Employment,Occupational group,15 Aglomerados urbanos,15 to 29 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,195666.0
2,ALC,Argentina,ARG,1992,m10,Employed workers in administrative occupations...,"levels, #",Employment,Occupational group,15 Aglomerados urbanos,15 to 64 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,654503.0
3,ALC,Argentina,ARG,1992,m10,Employed workers in administrative occupations...,"levels, #",Employment,Occupational group,15 Aglomerados urbanos,25 to 64 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,552182.0
4,ALC,Argentina,ARG,1992,m10,Employed workers in administrative occupations...,"levels, #",Employment,Occupational group,15 Aglomerados urbanos,65 years old and above,Total,Total,All levels of schooling,Do not apply,All,All,0,13756.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7445025 entries, 0 to 7445024
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   region                 object
 1   extended_country       object
 2   pais_acronimo          object
 3   anio                   int64
 4   ronda                  object
 5   var_description        object
 6   var_type               object
 7   var_category           object
 8   var_subcategory        object
 9   cobertura_geografica   object
 10  age_range              object
 11  gender                 object
 12  geographical_zone      object
 13  educational_level      object
 14  firm_size              object
 15  labor_income_quintile  object
 16  total_income_quintile  object
 17  non_average            int64
 18  valor                  float64
dtypes: float64(1), int64(2), object(16)
memory usage: 1.1+ GB

## Identificación de valores únicos en var_category

In [5]:
data.var_category.unique()

array(['Employment', 'Population', 'Unemployment',
       'Poverty and vulnerability', 'Empleo', 'Social security', 'Income'],
      dtype=object)

## Generación de nuevos datasets a partir de cada categoría

In [7]:
df_dict = {name: data.loc[data['var_category'] == name] for name in data.var_category.unique()}

In [8]:
df_dict['Employment']

,region,extended_country,pais_acronimo,anio,ronda,var_description,var_type,var_category,var_subcategory,cobertura_geografica,age_range,gender,geographical_zone,educational_level,firm_size,labor_income_quintile,total_income_quintile,non_average,valor
0,ALC,Argentina,ARG,1992,m10,Employed workers in administrative occupations...,"levels, #",Employment,Occupational group,15 Aglomerados urbanos,15 to 24 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,102321.000000
1,ALC,Argentina,ARG,1992,m10,Employed workers in administrative occupations...,"levels, #",Employment,Occupational group,15 Aglomerados urbanos,15 to 29 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,195666.000000
2,ALC,Argentina,ARG,1992,m10,Employed workers in administrative occupations...,"levels, #",Employment,Occupational group,15 Aglomerados urbanos,15 to 64 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,654503.000000
3,ALC,Argentina,ARG,1992,m10,Employed workers in administrative occupations...,"levels, #",Employment,Occupational group,15 Aglomerados urbanos,25 to 64 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,552182.000000
4,ALC,Argentina,ARG,1992,m10,Employed workers in administrative occupations...,"levels, #",Employment,Occupational group,15 Aglomerados urbanos,65 years old and above,Total,Total,All levels of schooling,Do not apply,All,All,0,13756.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7443889,ALC,Uruguay,URY,2018,a,Employed workers in the transportation and sto...,"rate, %",Employment,Industry,Nacional,15 to 29 years old,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7443890,ALC,Uruguay,URY,2018,a,Employed workers in the transportation and sto...,"rate, %",Employment,Industry,Nacional,15 to 64 years old,Total,Urban,All levels of schooling,Do not apply,All,All,0,0.060187
7443891,ALC,Uruguay,URY,2018,a,Employed workers in the transportation and sto...,"rate, %",Employment,Industry,Nacional,25 to 64 years old,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7443892,ALC,Uruguay,URY,2018,a,Employed workers in the transportation and sto...,"rate, %",Employment,Industry,Nacional,65 years old and above,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7443893,ALC,Uruguay,URY,2018,a,Employed workers in the transportation and sto...,"rate, %",Employment,Industry,Nacional,Total,Total,Urban,All levels of schooling,Do not apply,All,All,0,0.059665

In [9]:
df_dict['Population']

,region,extended_country,pais_acronimo,anio,ronda,var_description,var_type,var_category,var_subcategory,cobertura_geografica,age_range,gender,geographical_zone,educational_level,firm_size,labor_income_quintile,total_income_quintile,non_average,valor
85,ALC,Argentina,ARG,1992,m10,Average years of schooling of the population,"levels, #",Population,Total population,15 Aglomerados urbanos,15 to 64 years old,Total,Total,All levels of schooling,Large,All,All,0,NaN
135,ALC,Argentina,ARG,1992,m10,Average years of schooling of the population,"levels, #",Population,Total population,15 Aglomerados urbanos,15 to 64 years old,Men,Total,All levels of schooling,Large,All,All,0,NaN
172,ALC,Argentina,ARG,1992,m10,Average years of schooling of the population,"levels, #",Population,Total population,15 Aglomerados urbanos,15 to 64 years old,Women,Total,All levels of schooling,Large,All,All,0,NaN
177,ALC,Argentina,ARG,1992,m10,Average years of schooling of the population,"levels, #",Population,Total population,15 Aglomerados urbanos,15 to 24 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,9.778532
178,ALC,Argentina,ARG,1992,m10,Average years of schooling of the population,"levels, #",Population,Total population,15 Aglomerados urbanos,15 to 29 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,10.051600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7440245,ALC,Uruguay,URY,2018,a,Indigenous or afro-descendants population (%),"rate, %",Population,Total population,Nacional,15 to 29 years old,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7440246,ALC,Uruguay,URY,2018,a,Indigenous or afro-descendants population (%),"rate, %",Population,Total population,Nacional,15 to 64 years old,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7440247,ALC,Uruguay,URY,2018,a,Indigenous or afro-descendants population (%),"rate, %",Population,Total population,Nacional,25 to 64 years old,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7440248,ALC,Uruguay,URY,2018,a,Indigenous or afro-descendants population (%),"rate, %",Population,Total population,Nacional,65 years old and above,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7440249,ALC,Uruguay,URY,2018,a,Indigenous or afro-descendants population (%),"rate, %",Population,Total population,Nacional,Total,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN

In [10]:
df_dict['Unemployment']

,region,extended_country,pais_acronimo,anio,ronda,var_description,var_type,var_category,var_subcategory,cobertura_geografica,age_range,gender,geographical_zone,educational_level,firm_size,labor_income_quintile,total_income_quintile,non_average,valor
915,ALC,Argentina,ARG,1992,m10,Unemployed for the first time (%),"rate, %",Unemployment,Unemployed population,15 Aglomerados urbanos,15 to 24 years old,Men,Total,All levels of schooling,Do not apply,All,All,0,NaN
1050,ALC,Argentina,ARG,1992,m10,Unemployed for the first time,"levels, #",Unemployment,Unemployed population,15 Aglomerados urbanos,15 to 24 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,NaN
1051,ALC,Argentina,ARG,1992,m10,Unemployed for the first time,"levels, #",Unemployment,Unemployed population,15 Aglomerados urbanos,15 to 29 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,NaN
1052,ALC,Argentina,ARG,1992,m10,Unemployed for the first time,"levels, #",Unemployment,Unemployed population,15 Aglomerados urbanos,15 to 64 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,NaN
1053,ALC,Argentina,ARG,1992,m10,Unemployed for the first time,"levels, #",Unemployment,Unemployed population,15 Aglomerados urbanos,25 to 64 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7436426,ALC,Uruguay,URY,2018,a,"People who are not working, studying or seekin...","rate, %",Unemployment,Unemployed population,Nacional,15 to 29 years old,Total,Urban,All levels of schooling,Do not apply,All,All,0,0.098683
7436427,ALC,Uruguay,URY,2018,a,"People who are not working, studying or seekin...","rate, %",Unemployment,Unemployed population,Nacional,15 to 64 years old,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7436428,ALC,Uruguay,URY,2018,a,"People who are not working, studying or seekin...","rate, %",Unemployment,Unemployed population,Nacional,25 to 64 years old,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7436429,ALC,Uruguay,URY,2018,a,"People who are not working, studying or seekin...","rate, %",Unemployment,Unemployed population,Nacional,65 years old and above,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7436430,ALC,Uruguay,URY,2018,a,"People who are not working, studying or seekin...","rate, %",Unemployment,Unemployed population,Nacional,Total,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN

In [11]:
df_dict['Poverty and vulnerability']

,region,extended_country,pais_acronimo,anio,ronda,var_description,var_type,var_category,var_subcategory,cobertura_geografica,age_range,gender,geographical_zone,educational_level,firm_size,labor_income_quintile,total_income_quintile,non_average,valor
1225,ALC,Argentina,ARG,1992,m10,"High class indicator (USD 62+, 2011PPP)","levels, #",Poverty and vulnerability,"Vulnerability, middle and high class",15 Aglomerados urbanos,15 to 24 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,2.747660e+05
1226,ALC,Argentina,ARG,1992,m10,"High class indicator (USD 62+, 2011PPP)","levels, #",Poverty and vulnerability,"Vulnerability, middle and high class",15 Aglomerados urbanos,15 to 29 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,3.807960e+05
1227,ALC,Argentina,ARG,1992,m10,"High class indicator (USD 62+, 2011PPP)","levels, #",Poverty and vulnerability,"Vulnerability, middle and high class",15 Aglomerados urbanos,15 to 64 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,1.140252e+06
1228,ALC,Argentina,ARG,1992,m10,"High class indicator (USD 62+, 2011PPP)","levels, #",Poverty and vulnerability,"Vulnerability, middle and high class",15 Aglomerados urbanos,25 to 64 years old,Total,Total,All levels of schooling,Do not apply,All,All,0,8.654860e+05
1229,ALC,Argentina,ARG,1992,m10,"High class indicator (USD 62+, 2011PPP)","levels, #",Poverty and vulnerability,"Vulnerability, middle and high class",15 Aglomerados urbanos,65 years old and above,Total,Total,All levels of schooling,Do not apply,All,All,0,1.173130e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7444064,ALC,Uruguay,URY,2018,a,"Vulnerable people indicator (USD 5-12.4, 2011P...","rate, %",Poverty and vulnerability,"Vulnerability, middle and high class",Nacional,15 to 29 years old,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7444065,ALC,Uruguay,URY,2018,a,"Vulnerable people indicator (USD 5-12.4, 2011P...","rate, %",Poverty and vulnerability,"Vulnerability, middle and high class",Nacional,15 to 64 years old,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7444066,ALC,Uruguay,URY,2018,a,"Vulnerable people indicator (USD 5-12.4, 2011P...","rate, %",Poverty and vulnerability,"Vulnerability, middle and high class",Nacional,25 to 64 years old,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7444067,ALC,Uruguay,URY,2018,a,"Vulnerable people indicator (USD 5-12.4, 2011P...","rate, %",Poverty and vulnerability,"Vulnerability, middle and high class",Nacional,65 years old and above,Total,Urban,All levels of schooling,Do not apply,All,All,0,NaN
7444068,ALC,Uruguay,URY,2018,a,"Vulnerable people indicator (USD 5-12.4, 2011P...","rate, %",Poverty and vulnerability,"Vulnerability, middle and high class",Nacional,Total,Total,Urban,All levels of schooling,Do not apply,All,All,0,2.463736e-01

In [12]:
df_dict

{'Employment':         region extended_country pais_acronimo  anio ronda  \
 0          ALC        Argentina           ARG  1992   m10
 1          ALC        Argentina           ARG  1992   m10
 2          ALC        Argentina           ARG  1992   m10
 3          ALC        Argentina           ARG  1992   m10
 4          ALC        Argentina           ARG  1992   m10
 ...        ...              ...           ...   ...   ...
 7443889    ALC          Uruguay           URY  2018     a
 7443890    ALC          Uruguay           URY  2018     a
 7443891    ALC          Uruguay           URY  2018     a
 7443892    ALC          Uruguay           URY  2018     a
 7443893    ALC          Uruguay           URY  2018     a

                                            var_description   var_type  \
 0        Employed workers in administrative occupations...  levels, #
 1        Employed workers in administrative occupations...  levels, #
 2        Employed workers in administrative occupations...  levels, #
 3        Employed workers in administrative occupations...  levels, #
 4        Employed workers in administrative occupations...  levels, #
 ...                                                    ...        ...
 7443889  Employed workers in the transportation and sto...    rate, %
 7443890  Employed workers in the transportation and sto...    rate, %
 7443891  Employed workers in the transportation and sto...    rate, %
 7443892  Employed workers in the transportation and sto...    rate, %
 7443893  Employed workers in the transportation and sto...    rate, %

         var_category     var_subcategory    cobertura_geografica  \
 0         Employment  Occupational group  15 Aglomerados urbanos
 1         Employment  Occupational group  15 Aglomerados urbanos
 2         Employment  Occupational group  15 Aglomerados urbanos
 3         Employment  Occupational group  15 Aglomerados urbanos
 4         Employment  Occupational group  15 Aglomerados urbanos
 ...              ...                 ...                     ...
 7443889   Employment            Industry                Nacional
 7443890   Employment            Industry                Nacional
 7443891   Employment            Industry                Nacional
 7443892   Employment            Industry                Nacional
 7443893   Employment            Industry                Nacional

                       age_range gender geographical_zone  \
 0            15 to 24 years old  Total             Total
 1            15 to 29 years old  Total             Total
 2            15 to 64 years old  Total             Total
 3            25 to 64 years old  Total             Total
 4        65 years old and above  Total             Total
 ...                         ...    ...               ...
 7443889      15 to 29 years old  Total             Urban
 7443890      15 to 64 years old  Total             Urban
 7443891      25 to 64 years old  Total             Urban
 7443892  65 years old and above  Total             Urban
 7443893                   Total  Total             Urban

                educational_level     firm_size labor_income_quintile  \
 0        All levels of schooling  Do not apply                   All
 1        All levels of schooling  Do not apply                   All
 2        All levels of schooling  Do not apply                   All
 3        All levels of schooling  Do not apply                   All
 4        All levels of schooling  Do not apply                   All
 ...                          ...           ...                   ...
 7443889  All levels of schooling  Do not apply                   All
 7443890  All levels of schooling  Do not apply                   All
 7443891  All levels of schooling  Do not apply                   All
 7443892  All levels of schooling  Do not apply                   All
 7443893  All levels of schooling  Do not apply                   All

         total_income_quintile  non_average          valor
 0                         All            0  102321.000000
 1                         All            0  195666.000000
 2                         All            0  654503.000000
 3                         All            0  552182.000000
 4                         All            0   13756.000000
 ...                       ...          ...            ...
 7443889                   All            0            NaN
 7443890                   All            0       0.060187
 7443891                   All            0            NaN
 7443892                   All            0            NaN
 7443893                   All            0       0.059665

 [3403440 rows x 19 columns],
 'Population':         region extended_country pais_acronimo  anio ronda  \
 85         ALC        Argentina           ARG  1992   m10
 135        ALC        Argentina           ARG  1992   m10
 172        ALC        Argentina           ARG  1992   m10
 177        ALC        Argentina           ARG  1992   m10
 178        ALC        Argentina           ARG  1992   m10
 ...        ...              ...           ...   ...   ...
 7440245    ALC          Uruguay           URY  2018     a
 7440246    ALC          Uruguay           URY  2018     a
 7440247    ALC          Uruguay           URY  2018     a
 7440248    ALC          Uruguay           URY  2018     a
 7440249    ALC          Uruguay           URY  2018     a

                                        var_description   var_type  \
 85        Average years of schooling of the population  levels, #
 135       Average years of schooling of the population  levels, #
 172       Average years of schooling of the population  levels, #
 177       Average years of schooling of the population  levels, #
 178       Average years of schooling of the population  levels, #
 ...                                                ...        ...
 7440245  Indigenous or afro-descendants population (%)    rate, %
 7440246  Indigenous or afro-descendants population (%)    rate, %
 7440247  Indigenous or afro-descendants population (%)    rate, %
 7440248  Indigenous or afro-descendants population (%)    rate, %
 7440249  Indigenous or afro-descendants population (%)    rate, %

         var_category   var_subcategory    cobertura_geografica  \
 85        Population  Total population  15 Aglomerados urbanos
 135       Population  Total population  15 Aglomerados urbanos
 172       Population  Total population  15 Aglomerados urbanos
 177       Population  Total population  15 Aglomerados urbanos
 178       Population  Total population  15 Aglomerados urbanos
 ...              ...               ...                     ...
 7440245   Population  Total population                Nacional
 7440246   Population  Total population                Nacional
 7440247   Population  Total population                Nacional
 7440248   Population  Total population                Nacional
 7440249   Population  Total population                Nacional

                       age_range gender geographical_zone  \
 85           15 to 64 years old  Total             Total
 135          15 to 64 years old    Men             Total
 172          15 to 64 years old  Women             Total
 177          15 to 24 years old  Total             Total
 178          15 to 29 years old  Total             Total
 ...                         ...    ...               ...
 7440245      15 to 29 years old  Total             Urban
 7440246      15 to 64 years old  Total             Urban
 7440247      25 to 64 years old  Total             Urban
 7440248  65 years old and above  Total             Urban
 7440249                   Total  Total             Urban

                educational_level     firm_size labor_income_quintile  \
 85       All levels of schooling         Large                   All
 135      All levels of schooling         Large                   All
 172      All levels of schooling         Large                   All
 177      All levels of schooling  Do not apply                   All
 178      All levels of schooling  Do not apply                   All
 ...                          ...           ...                   ...
 7440245  All levels of schooling  Do not apply                   All
 7440246  All levels of schooling  Do not apply                   All
 7440247  All levels of schooling  Do not apply                   All
 7440248  All levels of schooling  Do not apply                   All
 7440249  All levels of schooling  Do not apply                   All

         total_income_quintile  non_average      valor
 85                        All            0        NaN
 135                       All            0        NaN
 172                       All            0        NaN
 177                       All            0   9.778532
 178                       All            0  10.051600
 ...                       ...          ...        ...
 7440245                   All            0        NaN
 7440246                   All            0        NaN
 7440247                   All            0        NaN
 7440248                   All            0        NaN
 7440249                   All            0        NaN

 [723231 rows x 19 columns],
 'Unemployment':         region extended_country pais_acronimo  anio ronda  \
 915        ALC        Argentina           ARG  1992   m10
 1050       ALC        Argentina           ARG  1992   m10
 1051       ALC        Argentina           ARG  1992   m10
 1052       ALC        Argentina           ARG  1992   m10
 1053       ALC        Argentina           ARG  1992   m10
 ...        ...              ...           ...   ...   ...
 7436426    ALC          Uruguay           URY  2018     a
 7436427    ALC          Uruguay           URY  2018     a
 7436428    ALC          Uruguay           URY  2018     a
 7436429    ALC          Uruguay           URY  2018     a
 7436430    ALC          Uruguay           URY  2018     a

                                            var_description   var_type  \
 915                      Unemployed for the first time (%)    rate, %
 1050                         Unemployed for the first time  levels, #
 1051                         Unemployed for the first time  levels, #
 1052                         Unemployed for the first time  levels, #
 1053                         Unemployed for the first time  levels, #
 ...                                                    ...        ...
 7436426  People who are not working, studying or seekin...    rate, %
 7436427  People who are not working, studying or seekin...    rate, %
 7436428  People who are not working, studying or seekin...    rate, %
 7436429  People who are not working, studying or seekin...    rate, %
 7436430  People who are not working, studying or seekin...    rate, %

          var_category        var_subcategory    cobertura_geografica  \
 915      Unemployment  Unemployed population  15 Aglomerados urbanos
 1050     Unemployment  Unemployed population  15 Aglomerados urbanos
 1051     Unemployment  Unemployed population  15 Aglomerados urbanos
 1052     Unemployment  Unemployed population  15 Aglomerados urbanos
 1053     Unemployment  Unemployed population  15 Aglomerados urbanos
 ...               ...                    ...                     ...
 7436426  Unemployment  Unemployed population                Nacional
 7436427  Unemployment  Unemployed population                Nacional
 7436428  Unemployment  Unemployed population                Nacional
 7436429  Unemployment  Unemployed population                Nacional
 7436430  Unemployment  Unemployed population                Nacional

                       age_range gender geographical_zone  \
 915          15 to 24 years old    Men             Total
 1050         15 to 24 years old  Total             Total
 1051         15 to 29 years old  Total             Total
 1052         15 to 64 years old  Total             Total
 1053         25 to 64 years old  Total             Total
 ...                         ...    ...               ...
 7436426      15 to 29 years old  Total             Urban
 7436427      15 to 64 years old  Total             Urban
 7436428      25 to 64 years old  Total             Urban
 7436429  65 years old and above  Total             Urban
 7436430                   Total  Total             Urban

                educational_level     firm_size labor_income_quintile  \
 915      All levels of schooling  Do not apply                   All
 1050     All levels of schooling  Do not apply                   All
 1051     All levels of schooling  Do not apply                   All
 1052     All levels of schooling  Do not apply                   All
 1053     All levels of schooling  Do not apply                   All
 ...                          ...           ...                   ...
 7436426  All levels of schooling  Do not apply                   All
 7436427  All levels of schooling  Do not apply                   All
 7436428  All levels of schooling  Do not apply                   All
 7436429  All levels of schooling  Do not apply                   All
 7436430  All levels of schooling  Do not apply                   All

         total_income_quintile  non_average     valor
 915                       All            0       NaN
 1050                      All            0       NaN
 1051                      All            0       NaN
 1052                      All            0       NaN
 1053                      All            0       NaN
 ...                       ...          ...       ...
 7436426                   All            0  0.098683
 7436427                   All            0       NaN
 7436428                   All            0       NaN
 7436429                   All            0       NaN
 7436430                   All            0       NaN

 [467973 rows x 19 columns],
 'Poverty and vulnerability':         region extended_country pais_acronimo  anio ronda  \
 1225       ALC        Argentina           ARG  1992   m10
 1226       ALC        Argentina           ARG  1992   m10
 1227       ALC        Argentina           ARG  1992   m10
 1228       ALC        Argentina           ARG  1992   m10
 1229       ALC        Argentina           ARG  1992   m10
 ...        ...              ...           ...   ...   ...
 7444064    ALC          Uruguay           URY  2018     a
 7444065    ALC          Uruguay           URY  2018     a
 7444066    ALC          Uruguay           URY  2018     a
 7444067    ALC          Uruguay           URY  2018     a
 7444068    ALC          Uruguay           URY  2018     a

                                            var_description   var_type  \
 1225               High class indicator (USD 62+, 2011PPP)  levels, #
 1226               High class indicator (USD 62+, 2011PPP)  levels, #
 1227               High class indicator (USD 62+, 2011PPP)  levels, #
 1228               High class indicator (USD 62+, 2011PPP)  levels, #
 1229               High class indicator (USD 62+, 2011PPP)  levels, #
 ...                                                    ...        ...
 7444064  Vulnerable people indicator (USD 5-12.4, 2011P...    rate, %
 7444065  Vulnerable people indicator (USD 5-12.4, 2011P...    rate, %
 7444066  Vulnerable people indicator (USD 5-12.4, 2011P...    rate, %
 7444067  Vulnerable people indicator (USD 5-12.4, 2011P...    rate, %
 7444068  Vulnerable people indicator (USD 5-12.4, 2011P...    rate, %

                       var_category                       var_subcategory  \
 1225     Poverty and vulnerability  Vulnerability, middle and high class
 1226     Poverty and vulnerability  Vulnerability, middle and high class
 1227     Poverty and vulnerability  Vulnerability, middle and high class
 1228     Poverty and vulnerability  Vulnerability, middle and high class
 1229     Poverty and vulnerability  Vulnerability, middle and high class
 ...                            ...                                   ...
 7444064  Poverty and vulnerability  Vulnerability, middle and high class
 7444065  Poverty and vulnerability  Vulnerability, middle and high class
 7444066  Poverty and vulnerability  Vulnerability, middle and high class
 7444067  Poverty and vulnerability  Vulnerability, middle and high class
 7444068  Poverty and vulnerability  Vulnerability, middle and high class

            cobertura_geografica               age_range gender  \
 1225     15 Aglomerados urbanos      15 to 24 years old  Total
 1226     15 Aglomerados urbanos      15 to 29 years old  Total
 1227     15 Aglomerados urbanos      15 to 64 years old  Total
 1228     15 Aglomerados urbanos      25 to 64 years old  Total
 1229     15 Aglomerados urbanos  65 years old and above  Total
 ...                         ...                     ...    ...
 7444064                Nacional      15 to 29 years old  Total
 7444065                Nacional      15 to 64 years old  Total
 7444066                Nacional      25 to 64 years old  Total
 7444067                Nacional  65 years old and above  Total
 7444068                Nacional                   Total  Total

         geographical_zone        educational_level     firm_size  \
 1225                Total  All levels of schooling  Do not apply
 1226                Total  All levels of schooling  Do not apply
 1227                Total  All levels of schooling  Do not apply
 1228                Total  All levels of schooling  Do not apply
 1229                Total  All levels of schooling  Do not apply
 ...                   ...                      ...           ...
 7444064             Urban  All levels of schooling  Do not apply
 7444065             Urban  All levels of schooling  Do not apply
 7444066             Urban  All levels of schooling  Do not apply
 7444067             Urban  All levels of schooling  Do not apply
 7444068             Urban  All levels of schooling  Do not apply

         labor_income_quintile total_income_quintile  non_average         valor
 1225                      All                   All            0  2.747660e+05
 1226                      All                   All            0  3.807960e+05
 1227                      All                   All            0  1.140252e+06
 1228                      All                   All            0  8.654860e+05
 1229                      All                   All            0  1.173130e+05
 ...                       ...                   ...          ...           ...
 7444064                   All                   All            0           NaN
 7444065                   All                   All            0           NaN
 7444066                   All                   All            0           NaN
 7444067                   All                   All            0           NaN
 7444068                   All                   All            0  2.463736e-01

 [765774 rows x 19 columns],
 'Empleo':         region extended_country pais_acronimo  anio ronda  \
 2270       ALC        Argentina           ARG  1992   m10
 2271       ALC        Argentina           ARG  1992   m10
 2272       ALC        Argentina           ARG  1992   m10
 2273       ALC        Argentina           ARG  1992   m10
 2274       ALC        Argentina           ARG  1992   m10
 ...        ...              ...           ...   ...   ...
 7440931    ALC          Uruguay           URY  2018     a
 7440932    ALC          Uruguay           URY  2018     a
 7440933    ALC          Uruguay           URY  2018     a
 7440934    ALC          Uruguay           URY  2018     a
 7440935    ALC          Uruguay           URY  2018     a

                                    var_description   var_type var_category  \
 2270     Salaried workers with fixed-term contract  levels, #       Empleo
 2271     Salaried workers with fixed-term contract  levels, #       Empleo
 2272     Salaried workers with fixed-term contract  levels, #       Empleo

## Guardando los nuevos dataframes a archivos

In [13]:
for key in df_dict:
    name = 'latim' + key.replace(' ','') + '.csv'
    df_dict[key].to_csv(name, index=False)